<?xml version="1.0" encoding="UTF-8"?> 
<launch>
  <node pkg="rovio" type="rovio_rosbag_loader" name="rovio" output="screen">
  <param name="filter_config" value="$(find rovio)/cfg/rovio_custom_zr300_down.info"/>
  <param name="camera0_config" value="$(find rovio)/cfg/zr300_fisheye.yaml"/>
  <param name="rosbag_filename" value="/media/drzadmin/DATA/Projects/Tree_Scanning/drz_rig_tejaswi/calib/cinema_box/cinema_box.bag"/>
  <param name="imu_topic_name" value="/imu/raw"/>
  <param name="cam0_topic_name" value="/fisheye/fisheye"/>
  </node>
</launch>